<div class="h-screen flex justify-center items-center">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="w-full max-w-[400px] h-fit">
    <mat-card>
      <mat-card-title class="text-center">Login</mat-card-title>
      <mat-card-content>
        <div class="my-5">
          <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error>Invalid email</mat-error>
          </mat-form-field>
        </div>
        <div class="my-5">
          <mat-form-field class="w-full">
            <mat-label>Full Name</mat-label>
            <input matInput type="text" formControlName="fullName">
          </mat-form-field>
        </div>
        <div class="my-5">
          <mat-form-field class="w-full">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username">
          </mat-form-field>
        </div>
        <div class="my-5">
          <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error>Password is required</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions class="flex justify-center">
        <button class="mx-auto" mat-raised-button color="primary" [disabled]="registerForm.invalid">Register</button>
      </mat-card-actions>
      <mat-card-footer class="text-center mb-2">
        <a mat-button color="primary" routerLink="..">Sign In</a>
      </mat-card-footer>
    </mat-card>
  </form>
</div>
